<html>
  <head>
    <meta charset="UTF-8" />
    <title>Trip Created</title>
  </head>
  <body>
    {{!-- {{trip}} --}}
{{#each trip}}
  <h3>Trip: </h3>
  {{this}}</p>
{{/each}}

    <!-- Display other trip details as needed -->
  </body>
</html>